*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;

}
.navigation li{
    list-style: none;
    margin: 10px;
}